@use 'index.scss' as *;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html[data-theme = 'light'] {
  --primary-color: #{$primary-color-light};
  --bg-image: #{$bg-image-light};
  --bg-theme: #{$bg-theme-light};
  --bg-image-desktop: #{$bg-image-desktop-light};
  --text-color: #{$text-color-light};
  --border-color: #{$border-color-light};
  --hover-color: #{$hover-color-ligth};
}

html[data-theme = 'dark'] {
  --bg-image: #{$bg-image};
  --bg-image-desktop: #{$bg-image-desktop-dark};
  --bg-theme: #{$bg-theme};
  --primary-color: #{$primary-color};
  --text-color: #{$text-color};
  --border-color: #{$border-color};
  --hover-color: #{$hover-color};
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--bg-theme);
  color: var(--text-color);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

header {
  min-width: 100%;
  padding-bottom: 7.4rem;
  background: var(--bg-image);
  @include breakpoints-up(large) {
    background: var(--bg-image-desktop);
    background-size: cover;
  }
  background-size: cover;
  min-height: 20rem;
}

h1 {
  color: $title-color;
  margin-left: -4.5rem;
  font-size: 4rem;
  letter-spacing: 1.4rem;
}

.flex {
  display: flex;

  &-rev {
    flex-direction: row-reverse;
  }

  &-col {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ac-c {
    align-content: center;
  }
}