@use 'index.scss' as *;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $bg-theme;
  color: $text-color;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

header {
  min-width: 100%;
  padding-bottom: 7.4rem;
  background: $bg-image;
  background-size: cover;
  min-height: 20rem;
}

h1 {
  color: $title-color;
  margin-left: -4.5rem;
  font-size: 4rem;
  letter-spacing: 1.4rem;
}

.flex {
  display: flex;

  &-rev {
    flex-direction: row-reverse;
  }

  &-col {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ac-c {
    align-content: center;
  }
}