@use 'index' as *;
.main {
  
  &__add-new-task {
    background: $primary-color;
    color: $text-color;
    height: 5rem;
    padding: 0 2.6rem;
    margin: 0 0 -5.6rem;
    border-radius: 5px;
    position: relative;
    align-self: center;
    min-width: 80%;
    top: -7rem;
    
    .add-item {
      background: transparent;
      border: none;
      outline: none;
      letter-spacing: .1rem;
      color: $text-color;
      width: 100%;
      height: 5rem;
      margin-left: 3.8rem;
      font-size: 1.4rem;
    }

    > span {
      width: 25px;
      height: 25px;
      top: 1.19rem;
      display: block;
      border: 2px solid $border-color;
      position: absolute;
      border-radius: 50%;
      cursor: pointer;
      transition: background .3s normal;

      &:hover {
        background: center url('/assets/images/icon-check.svg') no-repeat,
          linear-gradient(to top, hsla(192, 100%, 67%, 1), hsla(280, 87%, 65%, 1));
      }
    }
  }

  &__content {
    background: $primary-color;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1.5rem;

    ul li.hiden {
      display: none;
    }

    > ul li {
      list-style: none;
      padding: 2.5rem 1rem 0 2.5rem;
      min-height: 6rem;
      border-bottom: 1px solid $border-color;
      position: relative;

      > label {
        position: relative;
        cursor: pointer;
        padding: .2rem 0 0 3.8rem;
      }

      input[type="checkbox"] {
        position: relative;
        opacity: 0;
        width: 0;
        height: 0;
        cursor: pointer;

        &:checked ~.text {
          text-decoration: line-through;
        }

        &:checked ~ .checkMark {
          background: center url('/assets/images/icon-check.svg') no-repeat,
            linear-gradient(to top, hsla(192, 100%, 67%, 1), hsla(280, 87%, 65%, 1));
        }

        & ~ .checkMark {
          border: 2px solid $border-color;
          border-radius: 50%;
        }

        & ~ .checkMark:hover {
          border: 0;
          padding: .1rem;
          background: linear-gradient(to top, hsla(192, 100%, 67%, 1), hsla(280, 87%, 65%, 1));

          &::before {
            content: "";
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background: $primary-color;
            display: block;
          }
        }
      }
      .checkMark {
        position: absolute;
        top: -0.3rem;
        left: 0;
        width: 25px;
        height: 25px;
      }

      .remove {
        background: url('/assets/images/icon-cross.svg') no-repeat;
        width: 18px;
        height: 18px;
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 24px;
        display: block;
      }
    }

    .countdown-items {
      padding: 2rem;
      font-size: 1.3rem;
      color: $links-color;

      .items-left {
        cursor: pointer;

        &:hover {
          color: $title-color;
        }
      }

      .clear {
        cursor: pointer;

        &:hover {
          color: $title-color;
        }
      }
    }
  }

  .bottom-items {
    display: flex;
    background: $primary-color;
    width: 80%;
    color: $links-color;
    padding: 1.6rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2rem;
    font-weight: bold;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    label {
      cursor: pointer;

      &:hover {
        color: $hover-color;
      }
    }

    .filter {
      display: inherit;
      gap: 1.5rem;
    }
  }

}