

// colors
  $bg-image: 0 0 url('/assets/images/bg-mobile-dark.jpg') no-repeat;
  $bg-theme: #171823;
  $primary-color: hsla(235, 24%, 19%, 1);
  $title-color: #fff;
  $text-color: hsla(234, 39%, 85%, 1);
  $hover-color: hsla(220, 98%, 61%, 1);
  $border-color: hsla(237, 14%, 26%, 1);
  $links-color: hsla(235, 16%, 43%, 1);
